body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff; /* Couleur de fond légèrement bleue */
    color: #333; /* Couleur de texte principale */
    padding: 20px;
}

h1 {
    text-align: center;
    color: #007bff; /* Bleu thématique */
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    border-radius: 5px;
    border: 1px solid #ced4da;
    padding: 10px;
}

.btn {
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-success {
    background-color: #28a745;
    color: white;
}

.btn-success:hover {
    background-color: #218838;
}

.btn-danger {
    background-color: #dc3545;
    color: white;
}

.btn-danger:hover {
    background-color: #c82333;
}

/* Tableaux internes */
.table {
    margin-bottom: 20px;
}

.table, .table th, .table td {
    border: 1px solid #dee2e6;
}

.table th, .table td {
    padding: 15px;
    text-align: left;
}

.fa-stack {
    cursor: pointer;
}


.fa-times, .fa-pencil {
    color: white;
}

.tab-form-demo {
    width: 100%;  /* Utilise toute la largeur disponible */
    max-width: 1200px; /* Ou la largeur maximale que vous préférez */
    margin: 0 auto; /* Centrage horizontal */
    padding: 15px;
    background: #fff; /* Fond blanc pour le contraste */
    border-radius: 5px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.1); /* Ombre pour la profondeur */
}

.uib-tabset {
    display: flex !important;
    justify-content: center !important;
    margin: 0 !important;
}

.uib-tabset a {
    text-align: center !important;
    display: block !important;
}


/* Mettre en évidence le bouton "ADD PATIENT" */
.btn-add-patient {
    background-color: #4a90e2; /* Couleur bleue pour le bouton */
    color: white; /* Texte en blanc pour plus de contraste */
    font-size: 20px; /* Taille de police plus grande */
    padding: 10px 20px; /* Padding plus généreux */
    border-radius: 5px; /* Coins arrondis */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre douce pour un effet 3D */
    transition: background-color 0.3s ease; /* Transition douce pour le survol */
}

.btn-add-patient:hover {
    background-color: #357abd; /* Couleur légèrement plus foncée au survol */
}

/* Correction de la disposition du bouton si celui-ci se trouve dans un div avec la classe 'add-patient-container' */
.add-patient-container {
    text-align: center; /* Centrage du bouton dans son conteneur */
    margin: 20px 0; /* Ajout d'un peu d'espace au-dessus et en dessous */
}

/* Assurez-vous que le conteneur du formulaire utilise Flexbox */
.form-container {
    display: flex;
    justify-content: center; /* Centre horizontalement le contenu */
    align-items: center; /* Centre verticalement le contenu */
    min-height: 100vh; /* Hauteur minimum pour permettre le centrage vertical complet */
}

/* Appliquez un style au formulaire lui-même si nécessaire */
form {
    width: 100%; /* ou une largeur fixe si vous voulez que le formulaire soit plus petit */
    max-width: 600px; /* Une largeur maximale peut également être définie */
    margin: auto; /* Un margin auto va aussi centrer le formulaire */
    padding: 20px; /* Ajoutez du padding selon vos besoins */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optionnel: une ombre pour un effet en relief */
}
